<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MindWave Home Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesCB.css') }}">
</head>
<body>
<div class="header">
  <h1>MindWave<img src="{{ url_for('static', filename='photo/mindwave_logo.png') }}" alt="MindWave Logo"></h1>
</div>

<div class="nav-buttons">
  <button onclick="window.location.href='{{ url_for('home') }}'">Home</button>
  <button onclick="window.location.href='{{ url_for('online_data') }}'">Online Data</button>
  <button onclick="window.location.href='{{ url_for('profile') }}'">MyData</button>
  <button onclick="window.location.href='{{ url_for('ai_alzheimer_detection') }}'">AI Alzheimer Detection</button>
  <button onclick="window.location.href='{{ url_for('chatbot') }}'">AI Helper</button>
  <button onclick="window.location.href='{{ url_for('about_us') }}'">About Us</button>
  <button onclick="window.location.href='{{ url_for('login') }}'">Logout</button>
</div>

<div class="main-container">
  <div id="chatContainer" class="chat-container">
    <br>
    <div id="chatbot" class="chat_container">
      <div class="msg-container bot-msg"><div class="msg">Hi! Welcome to AI Helper. How can I help you?</div></div>
      <!-- Chat messages will be displayed here -->
  </div>
  <div class="input-container">
      <input type="text" id="userInput" class="user-input" placeholder="Type your question here...">
      <button onclick="sendMessage()" id= "submitBtn"class="primary-btn">Send</button>
  </div>
  </div>
</div>  
<script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
</body>
</html>